body{
    margin:0;
    padding:0;
    background-image: url(../img/Backwater_Campaign_Img2.jpg);
    background-size: cover;
    /* background-position: center; */
}
.loginbox{
    width:420px;
    height:420px;
    background:linear-gradient(120deg,#29c24f,#129dc7);
    color:#fff;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    opacity:95%;
    padding: 70px 30px;
}
.loginbox h1{
    color:white;
    text-align: center;
}
h1 {
    margin:0;
    padding:0 0 20px;
  
}
.login input{
    width:100%;
    margin-bottom: 20px;

}
.login input[type="text"],input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:25px;
    color:#fff;
    font-size: 16px;

}
.login input[type="submit"]{
    border:none;
    outline:none;
    height:40px;
    background-color: whitesmoke;
    font-size:18px;
    border-radius: 20px;

}
.login input[type="submit"]:hover{
    color:#090a09;
    background-color:chocolate;
}
.login a{
    text-decoration: none;
    left:1000px;
    color:white;
}
.login a:hover{
    color:#090a09;
    background-color:chocolate;
}